

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Party Party Invite Yehey</title>
    </head>
    <body>
            <div class="text-center m=2">
                <h2>Hilu Bai, Gi invite man ku ug party</h2>
                <h4>sama ka raw bai</h4>
                
                <a class="btn btn-primary" asp-action="RsvpForm">Click to Join the party as a guest!</a>
        </div>
    </body>
</html>